{% extends 'base.html.twig' %}
{% block title %}
    {{ author.firstName }} {{ author.name }}
{% endblock %}

{% block body %}
    <div class="author">
        <h1>{{ author.firstName }} {{ author.name }}</h1>
        <h2>Date de naissance : {{ author.birthDate | date('d F Y') }}</h2>
        {% if author.deathDate %}
            <h2>Date de décès : {{ author.deathDate | date('d F Y') }}</h2>

        {% endif %}
        <a href="{{ path('admin_authors') }}" class="btn back"><< Retour à la liste des auteurs</a>

    </div>

{% endblock %}



