{% extends 'base.html.twig' %}

{% block title %}
    Tous les livres
{% endblock %}

{% block body %}

    {% include 'book/_commons/_book_search.html.twig' %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    {% if books %}
        <div class="books">
            <table>
                <thead>
                <th class="text-center">
                    ID
                </th>
                <th class="text-center">
                    Titre
                </th>
                <th class="text-center">
                    Nombre de pages
                </th>
                <th class="text-center">
                    Style
                </th>
                <th class="text-center">
                    Auteur
                </th>
                <th class="text-center">
                    En stock ?
                </th>
                <th></th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td>
                            {{ book.id }}
                        </td>
                        <td>
                            {{ book.title }}
                        </td>
                        <td>
                            {{ book.nbPages }}
                        </td>
                        <td>
                            {{ book.style }}
                        </td>
                        <td>
                            {% if book.author.name is defined %}
                                {{ book.author.fullName }}
                            {% else %}
                                Aucun auteur défini
                            {% endif %}
                        </td>
                        <td>
                            {% if book.inStock %}
                                <span class="disponible">En stock</span>
                            {% else %}
                                <span class="nondisponible">Non disponible</span>
                            {% endif %}
                        </td>

                        <td>
                            <a class="btn show" href="{{ path('book_show', {'id':book.id}) }}">Détails</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    {% else %}
        <div class="error">
            <p>Aucun livre trouvé</p>
            <a href="{{ path('book_all') }}" class="btn back"><< Retour à la liste des livres</a>
        </div>
    {% endif %}
{% endblock %}


