{% extends 'base.html.twig' %}

{% block body %}
    <table style="width:100%">
        <thead style="text-align: left">
        <th>
            Nom
        </th>
        <th>
            Prénom
        </th>
        <th>
            Date de naissance
        </th>
        <th>
            Date de décès
        </th>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>
                    {{ author.name }}
                </td>
                <td>
                    {{ author.firstName }}
                </td>
                <td>
                    {{ author.birthDate | date('d M Y') }}
                </td>
                <td>
                    {% if author.deathDate %}
                        {{ author.deathDate | date('d M Y') }}
                    {% else %}
                        Vivant
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('author', {'id':author.id}) }}">Détails</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block title %}
    Tous les auteurs
{% endblock %}

