{% extends "base.html.twig" %}

{% block body %}
    <form action="{% if author is defined %}{{ path('author_update') }}{% else %}{{ path('author_insert') }}{% endif %}" method="post" class="book-form">
        <input type="number" hidden name="id" value="{% if author is defined %}{{ author.id }}{% endif %}">
        <div class="form-group">
            <label for="name" class="h4">Nom</label>
            <input type="text" name="name" id="name" class="form-control"
            value="{% if author is defined%}{{ author.name }}{% endif %}">
        </div>
        <div class="form-group">
            <label for="firstName" class="h4">Prénom</label>
            <input type="text" name="firstName" id="firstName" class="form-control"
                   value="{% if author is defined%}{{ author.firstName }}{% endif %}">
        </div>
        <div class="form-group">
            <label for="birthDate" class="h4">Date de naissance</label>
            <input type="date" name="birthDate" id="birthDate" class="form-control"
                   value="{% if author is defined%}{{ author.birthDate | date('Y-m-d') }}{% endif %}">
        </div>
        <div class="form-group">
            <label for="deathDate" class="h4">Date de décès</label>
            <input type="date" name="deathDate" id="deathDate" class="form-control"
                   value="{% if author is defined%}{% if author.deathDate is not null %}{{ author.deathDate | date('Y-m-d')}}{% endif %}{% endif %}">
        </div>


        <input type="submit" value="Enregistrer" class="btn btn-primary rounded-pill px-5 py-2">
    </form>
{% endblock %}

