{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-div edit">
        {{ form_start(bookFormView, {'attr': {
            'class': 'form-div'
        }}) }}
        <div class="form-inside-div">
            {{ form_errors(bookFormView.title) }}
            {{ form_widget(bookFormView.title, {'attr': {'placeholder': 'Titre'}}) }}
        </div>
        <div class="form-inside-div">
            {{ form_errors(bookFormView.style) }}
            {{ form_widget(bookFormView.style, {'attr': {'placeholder': 'Style',}}) }}
        </div>
        <div class="form-inside-div">
            {{ form_errors(bookFormView.nbPages) }}
            {{ form_widget(bookFormView.nbPages, {'attr': {'placeholder': 'Nombre de pages',}}) }}
        </div>
        <div class="form-inside-div">
            {{ form_errors(bookFormView.author) }}
            {{ form_widget(bookFormView.author) }}
        </div>
        <div class="form-inside-div checkbox-group">
            {{ form_errors(bookFormView.inStock) }}
            {{ form_widget(bookFormView.inStock, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(bookFormView.inStock, 'En Stock',{'label_attr': {'class': 'form-check-label'}}) }}
        </div>
        <div class="form-inside-div flex">
            <a class="btn dark" href="{{ path('admin_book_all') }}">Annuler</a>
            {{ form_row(bookFormView.submit, { 'label': 'Enregistrer', 'attr': {'class':'btn show'}}) }}
        </div>


        {{ form_end(bookFormView) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

